body {
	margin: 0;
	padding: 0;
	background-color: orange;
}

#box {
	background-color: ;
	padding: 10px 10px 10px 10px;
	border: 3px solid black;
	margin: 40px;
	width: 200px;
}

#content {
	background-color: white; 
}

h1 {
	margin-bottom: 30px;
}